/* Profile Card Styling */
.profile-card {
    -fx-background-color: #fffffe;
    -fx-border-radius: 15;
    -fx-background-radius: 15;
    -fx-padding: 10;
    -fx-pref-width: 350;
    -fx-pref-height: 300;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2), 5, 0, 2, 2);
}

/* Gradient Background */
.gradient-background {
    -fx-fill: linear-gradient(to right,
    #dde7c7 0%,
    #bfd8bd 80%,
    #98c9a3 100%
    );
    -fx-arc-width: 15;
    -fx-arc-height: 15;
}

/* Card Content (transparent background to show gradient behind image) */
.card-content {
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-spacing: 10;
}

/* Profile Image */
.profile-image {
    -fx-border-color: #fefefe;
    -fx-border-width: 4;
}

/* Name Link */
.name-link {
    -fx-font-size: 24;
    -fx-font-weight: bold;
    -fx-text-fill: #161A42;
    -fx-padding: 15 0 0 0;
}

/* Labels */
.card-content .label {
    -fx-text-fill: rgba(0, 0, 0, 0.5);
    -fx-font-size: 14;
}


/* Styling for icon buttons */
.icon-button {
    -fx-background-color: transparent;

}

/* Styling for icon buttons */
.button {
    -fx-background-color: transparent;

}

